
.icon-steering-wheel:before { content: '\e800'; } /* '' */
.icon-ok:before { content: '\e801'; } /* '' */
.icon-ok-circle:before { content: '\e802'; } /* '' */
.icon-ok-1:before { content: '\e803'; } /* '' */
.icon-ok-outline:before { content: '\e804'; } /* '' */
.icon-heart-filled:before { content: '\e805'; } /* '' */
.icon-heart:before { content: '\e806'; } /* '' */
.icon-key-outline:before { content: '\e807'; } /* '' */
.icon-key:before { content: '\e808'; } /* '' */
.icon-location-inv:before { content: '\e809'; } /* '' */
.icon-location:before { content: '\e80a'; } /* '' */
.icon-android:before { content: '\e80b'; } /* '' */
.icon-headphones:before { content: '\e80c'; } /* '' */
.icon-photo:before { content: '\e80d'; } /* '' */
.icon-truck:before { content: '\e80e'; } /* '' */
.icon-shop:before { content: '\e80f'; } /* '' */
.icon-wallet:before { content: '\e810'; } /* '' */
.icon-pitch:before { content: '\e82a'; } /* '' */
.icon-globe:before { content: '\f018'; } /* '' */
.icon-map-pin:before { content: '\f276'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */
.icon-twitter-circled:before { content: '\f30a'; } /* '' */
.icon-facebook:before { content: '\f30c'; } /* '' */
.icon-facebook-squared:before { content: '\f30e'; } /* '' */
.icon-instagram:before { content: '\f32d'; } /* '' */
